
<div class="columns is-vcentered">
  <div class="column ">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/places/{{placemark.placePicture}}" alt="Placeholder image">
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="columns"></div>
  <div class="column">
    <div id="map">
        <iframe
                width="1200"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}
    &q={{placemark.address}}">
        </iframe>
    </div>
  </div>
    <div class="column ">
        <img src="{{weather.weather}}" id="weather">
    <p class="is-vcentered" id="temperature">{{weather.temperature}}°C</p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                <img class="is-rounded"src="/images/accountphoto/{{placemark.pictureName}}" alt="Placeholder image">
                </figure>
            </div>
      <div class="media-content">
        <p class="title is-4">{{placemark.description}}</p><br>
        <p id="address" class="subtitle is-6"><i class="fas fa-map-marker-alt"></i> {{placemark.address}}</p>
        <p class="subtitle is-6">@{{placemark.firstName}} {{placemark.lastName}}</p>
         <p><i class="fas fa-star"></i></i>Rating: {{rating}}</p>
      </div>
    </div>
    </div>
  </div>
</div>
<script>
    import * as L from 'leaflet'

    var map = L.map('map').setView([51.505, -0.09], 13);
</script>