<div class="card">
    <div class="card-image">
<!--        <figure class="image is-8by8">-->
<!--            <img src="/images/accountphoto/{{user.pictureName}}" alt="Placeholder image">-->
<!--        </figure>-->
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="/images/accountphoto/{{user.pictureName}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{user.firstName}} {{user.lastName}}</p>
                <p class="subtitle is-6">@{{user._id}}</p>
                <p class="subtitle is-6">{{user.email}}</p>

            </div>
        </div>
    </div>
</div>